.App {
  display: flex;
  height: 100vh;
}

.Form-wrapper {
  padding: 30px;
  max-width: 28%;
}

.fieldset-number {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.-constant-height {
  height: 255px;
}

.number-label {
  --labelsize: 50px;
  --fontsize: calc(var(--labelsize) - 15px);
  width: var(--labelsize);
  height: var(--labelsize);
  background-color: whitesmoke;
  display: inline-block;
  text-align: center;
  border: 1px dashed black;
  font-size: var(--fontsize);
  line-height: var(--labelsize);
  color: #0172e3;
}

.-selected {
  background-color: #bbdefb;
}
