.App {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Form-wrapper {
  padding: 30px;
  flex: 0 0 332px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Iframe-wrapper {
  flex: 0 0 600px;
}

.fieldset-number {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.-constant-height {
  height: 255px;
}

.number-label {
  --labelsize: 50px;
  --fontsize: calc(var(--labelsize) - 15px);
  width: var(--labelsize);
  height: var(--labelsize);
  background-color: whitesmoke;
  display: inline-block;
  text-align: center;
  border: 1px dashed black;
  font-size: var(--fontsize);
  line-height: var(--labelsize);
  color: #0172e3;
}

.-selected {
  background-color: #bbdefb;
}

.cluded-input {
  width: 50%;
  font-size: 24px;
  box-sizing: border-box;
}

.cluded-label {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: x-large;
  font-weight: bold;
}
